<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF-Tools</title>
    <link rel="stylesheet" href="../home/home.css">
    <link rel="shortcut icon" type="x-icon" href="../icons/pdf-tools.jpg">
    <script src="../home/home.js"></script>
</head>
<body>
    <div class="header">
        <img src="../icons/pdf-tools.jpg" alt="" class="logo">
        <h2 class="name">PDF-TOOLS</h2>
    </div>
    <div class="content-box">
        <div class="head-label">
            <h1>Every tool you need to work with PDF's in one place.</h1>
            <label>Every tools you need to use PDF's. All are 100% FREE and easy to use Merge,Image,Docx, Convert to PDF with just few click.</label>
        </div>
        <div class="contents">
            <label id="merge_pdf">
                <img src="../icons/pdf merge.png" alt="Image not found">
                <h3>Merge PDF</h3>
                <p>Combine two or more PDF's files that you want to merge.PDF merger available.</p>
            </label>
            <label id="docx_pdf">
                <img src="../icons/docx to pdf.jpeg" alt="Image not found">
                <h3>Word to PDF</h3>
                <p>Make DOC and DOCX files easy to read by converting them to PDF.</p>
            </label>   
            <label id="image_pdf">
                <img src="../icons/image pdf.png" alt="Image not found">
                <h3>Image to PDF</h3>
                <p>Convert png , jpg images to PDF in seconds. Easily adjust orientation and margins.</p>
            </label>
            <label id="ppt_pdf">
                <img src="../icons/ppt to pdf.png"  alt="Image not found">
                <h3>PowerPoint to PDF</h3>
                <p>make PPT and PPTX slideshows easy to view by converting them to PDF.</p>
            </label>  
        </div>
        <div class="contents">
            <label id="pdf_png">
                <img src="../icons/pdf to png.png" alt="Image not found">
                <h3>PDF to PNG</h3>
                <p>Convert each PDF page into PNG or extract all Images contained in a PDF.</p>
            </label> 
            <label id="excel_pdf">
                <img src="../icons/excel to pdf.jpeg" alt="Image not found">
                <h3>EXCEL to PNG</h3>
                <p>Make EXCEL spreadsheet easy to read by converting them to pdf.</p>
            </label> 
        </div>
    </div>
</body>
</html>