<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to DOCX converter</title>
    <link rel="stylesheet" href="../pdfs.css">
    <link rel="shortcut icon" type="x-icon" href="../icons/pdf-tools.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"/>
    <script src="../pdf_docx/pdf_docx.js"></script>
</head>
<body>
    <form action="/pdftodocx" method="post" enctype="multipart/form-data">
        <div class="container h1" id="container">
            <div class="header-section">
                <h1>PDF to DOCX</h1>
                <p>Upload PDF files that you want to convert it into DOCX file.</p>
            </div>
            <div class="drop-section" >
                <div class="col1 col" >
                    <div class="cloud-icon">
                        <img src="..\icons/cloud.png" alt="cloud" >
                    </div>
                    <span>Drag & Drop your files here</span>
                    <span>OR</span>
                    <!-- <button class="file-selector">Browse Files</button> -->
                    <label for="file-input"><i class="fa-solid fa-arrow-up-from-bracket"></i>&nbsp; Choose Files To Upload</label>
                    <div id="num-of-files">No Files Choosen</div>
                    <input type="file" name="pdf_docx" id="file-input"  multiple accept=".pdf" style="display: none;">
                </div>
                <div class="col2  hidden col">
                    <span class="drop-here">Drop Here</span>
                </div>
            </div>
            <div class="list-title">Uploaded Files</div>
            <div class="all-list h3 hidden" id="all-list">
                <ol class="fillist h3" id="files-list"></ol>
            </div>
            <div class="submit">
                <!-- <input type="submit" id="submit"> -->
                <button type="submit" id="submit"><i class="fa-regular fa-circle-down" style="padding-right:5px;" ></i>  Download</button>
            </div>
        </div>
    </form>
</body>
</html>